.movieCard {
  border-radius: 15px  !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 650px;
  background: #EDF5E1 !important;
  color: #05386B
}
.movieCard:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.479);
    width: 21%;
    height: 660px;
}
.movieImg {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    height: 55%;
}
.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
}